@import "core/typography";
@import "input/group";

.color-picker {
  display: inline-block;
  position: relative;
  user-select: none;
  min-width: 300px;

  .color-picker-slider {
    margin: 17px 0;
  }
  .color-picker-slider-label {
    @extend .align-middle;

    font-size: small;
    min-width: 1rem;
  }
  .color-picker-value {
    @extend .text-center;
    @extend .align-middle;

    font-size: small;
    min-width: 1.5rem;
    user-select: initial;
  }
}
