<div class="color-picker">
  <div class="group">
    <span class="color-picker-slider-label">R</span>
    <input class="color-picker-slider input-range" type="range" max="255" min="0" title
      [(ngModel)]="color.red" />
    <span class="color-picker-value">
      {{ color.red }}
    </span>
  </div>
  <div class="group">
    <span class="color-picker-slider-label">G</span>
    <input class="color-picker-slider input-range" type="range" max="255" min="0" title
      [(ngModel)]="color.green" />
    <span class="color-picker-value">
      {{ color.green }}
    </span>
  </div>
  <div class="group">
    <span class="color-picker-slider-label">B</span>
    <input class="color-picker-slider input-range" type="range" max="255" min="0" title
      [(ngModel)]="color.blue" />
    <span class="color-picker-value">
      {{ color.blue }}
    </span>
  </div>
</div>
