@import "core/typography";
@import "input/group";
@import "var/shadows";

.color-picker {
  position: absolute;
  top: 0; right: 0;
  transform: translate(0, -100%);
  min-width: 300px;
  box-shadow: $shadow-large;
  border-radius: 6px;
  background: $white;
  margin-top: -50px;
  padding: 20px;

  .color-picker-headline {
    @extend .h6;

    margin-bottom: 10px;
  }
  .color-picker-slider {
    margin: 17px 0;
  }
  .color-picker-slider-label {
    @extend .align-middle;
    @extend .input-add;

    font-size: small;
    min-width: 1rem;
  }
  .color-picker-value {
    @extend .input-add;
    @extend .text-center;
    @extend .align-middle;

    font-size: small;
    min-width: 1.5rem;
  }

  .color-picker-footer, footer {
    margin-top: 15px;
  }

}
