.storage-files {
  tr {
    transition: .1s ease-out;

    &.dragging {
      opacity: .5;
    }

    .item-actions {
      cursor: default;
      transition: inherit;
      opacity: 0;

      &:active {
        transform: translate(0, 1px);
      }
    }

    &:hover .file-drag {
      transform: none;
      opacity: .4;
    }
    &:hover .item-actions {
      opacity: .4;
    }
  }
}

$file-icon-color:   #888888 !default;
$folder-icon-color: #ccaa66 !default;

.item-descriptor {
  cursor: default;

  .item-icon {
    margin-right: 5px;
    color: $file-icon-color;

    &.icon-folder {
      color: $folder-icon-color;
    }
  }

  .file-ext {
    opacity: .4;
  }
}
