<main class="application-page">
  <h3>{{ "files" | l10n }}</h3>

  <table class="table-hover storage-files">
    <thead>
      <tr>
        <th width="80%">{{ "filename" | l10n }}</th>
        <th width="20%">{{ "last_modified" | l10n }}</th>
        <th><!-- File actions --></th>
      </tr>
    </thead>
    <ng-container *ngFor="let directory of archive.getDirectories(currentPath)">
      <tr drag drop>
        <td class="item-descriptor">
          <span class="item-icon {{ directory.icon }}"></span>
          <span class="item-name">{{ directory.pathFragment }}</span>
        </td>
        <td>{{ directory.lastChanged | date: "dd.MM.yy hh:mm" }}</td>
        <td class="item-actions">
          <i class="mdi mdi-chevron-down"></i>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngFor="let file of archive.getFiles(currentPath)">
      <tr drag>
        <td class="item-descriptor">
          <span class="item-icon {{ file.icon }}"></span>
          <span class="item-name">{{ file.name }}</span>
        </td>
        <td>{{ file.lastChanged | date: "dd.MM.yy hh:mm" }}</td>
        <td class="item-actions">
          <i class="mdi mdi-chevron-down"></i>
        </td>
      </tr>
    </ng-container>
  </table>
</main>
