<div class="main-frame {{context.frameClass}}">
  <div class="context-information">
    <span class="vandalsquad-tag"></span>

    <span class="context-name">{{ context.name }}</span>
    <span class="context-crumb" *ngFor="let crumb of context.crumbs">
      {{ crumb }}
    </span>
  </div>

  <div class="account-information">
    <div class="account-avatar">
      <i class="account-image-placeholder mdi mdi-account"></i>

      <div class="account-image" [ngStyle]="{'background-image': 'url(' + account.imageUrl + ')' }"></div>
      <div class="account-state state-{{ account.status }}"></div>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="loader loader-center loader-secondary hidden">
    <svg class="loader-ring" viewBox="25 25 50 50">
      <circle class="loader-path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
    </svg>
  </div>
</div>
