@import "var/colors";
@import "var/spacing";
@import "var/transitions";

@import "fn/utils";

$z-main-frame: 10 !default;
$z-face-frame: 5 !default;

.main-frame {
  z-index: $z-main-frame;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  transition: .5s $ease-out-expo;

  &.frame-white {
    background: $baby-powder;
    color: $black;
  }
  &.frame-dark {
    background-color: $dark-purple;
    color: text-color($dark-purple);
  }
  @each $scheme, $color in $schemes {
    &.frame-#{$scheme} {
      background: $color;
      color: text-color($color);
    }
  }
}

$face-frame-width: 360px !default;

.face-frame {
  z-index: $z-face-frame;
  transition: .5s $ease-out-expo;
  width: $face-frame-width;
  transform: translate(-$space-large);
  background: $black;
  opacity: .4;

  position: fixed;
  top: 0; bottom: 0;
  left: 0;

  &.frame-active {
    transform: translate(0);
    opacity: 1;

    + .main-frame {
      margin-left: $face-frame-width;
    }
  }

  .face-name {
    margin:
      $page-space
      $space-medium 0
      $space-medium;
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    color: inherit;

    &:hover {
      text-decoration: underline;
      text-decoration-color: rgba($white, .1);
    }
  }
  .face-footer, footer {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    color: $color-secondary;
    margin: $space-medium;
    font-size: .75rem;

    > * { display: block; }

    .copy { }
    .version {
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: $space-small;
      white-space: nowrap;
      opacity: .6;
    }
  }
}

.face-toggle {
  cursor: pointer;
  position: absolute;
  top: 0; left: 0;
  font-size: 20px;
  padding: 10px;
}

// Todo: Drag and drop states
// Transfer to a better categorized file...
/deep/ [drag] {
  transition: .3s $ease-out-expo;
  &.dragging {
    transform: scale(.95);
  }
}

/deep/ [drop] {
  transition: .3s $ease-out-expo;
  display: inline-block;

  &.dragover {
    transform: scale(1.05);
  }
}
