<div class="application-page">

  <ul class="bar vertical" draggable="true" drag [drag-constraint]="'.constraint'">
    <li class="bar-modifier" [style.cursor]="'move'">
      <i class="mdi mdi-drag-horizontal"></i>
    </li>
    <li class="bar-item">
      <i class="mdi mdi-pencil"></i>
    </li>
    <li class="bar-item">
      <i class="mdi mdi-spray"></i>
    </li>
    <li class="bar-item">
      <i class="mdi mdi-marker"></i>
    </li>
    <li class="bar-item">
      <i class="mdi mdi-format-color-fill"></i>
    </li>
    <li class="bar-item">
      <i class="mdi mdi-format-paint"></i>
    </li>
  </ul>

  <div class="panel inline-block align-top">
    <color-picker></color-picker>
  </div>

  <span class="constraint" drop></span>
  <span drop></span>
  <span class="constraint" drop></span>
  <span drop></span>

  <color-palette></color-palette>
</div>
