@import "var/transitions";
@import "var/shadows";
@import "var/spacing";
@import "var/colors";

$color-palette-z: 1;

$color-size:            75px !default;
$color-collection-size: 45px !default;

$color-default:    $black !default;
$color-default-cc: #777777 !default;

%color-drop {
  border: 1px solid rgba($black, .1);
  border-radius: 50% 50% 0 50%;
  transition: .1s ease-out;
  display: inline-block;
}

.color-palette {
  z-index: $color-palette-z;
  position: absolute;
  bottom: 0; right: 0;
  margin: $page-space;
  user-select: none;

  display: flex;
  flex-flow: row;
  align-items: center;

  .color-active {
    @extend %color-drop;

    height: $color-size;
    width: $color-size;
    order: 1;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1);
    }
  }

  .color-collections {
    margin: 0 10px 0 0;
    list-style: none;
    display: block;
    padding: 0;
    order: 0;

    .color-collect {
      margin-right: 15px;
      transition: .2s $ease-out-expo;
      vertical-align: middle;
      display: inline-block;
      font-size: 1.75rem;
      opacity: .6;

      &:hover {
        transform: scale(1.1);
        opacity: .8;
      }
      &:active {
        transform: scale(1);
      }
    }
    .color-drop {
      @extend %color-drop;

      height: $color-collection-size;
      width: $color-collection-size;
      vertical-align: middle;
      margin-right: 15px;

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(1);
      }
    }
  }
}
