$space-large:  60px !default;
$space-medium: 30px !default;
$space-small:  15px !default;

$window-space-top:    $space-large !default;
$window-space-bottom: $space-large !default;
$window-space-left:   $space-large !default;
$window-space-right:  $space-large !default;

$window-space:
  $window-space-top
  $window-space-right
  $window-space-bottom
  $window-space-left
!default;

$page-space-top: 155px !default;
