@import "../fn/utils";
@import "../var/colors";

@each $scheme, $color in $schemes {
  .bg-#{$scheme} {
    background-color: $color;
    color: text-color($color);
  }
}

@each $scheme, $color in $schemes {
  .text-#{$scheme} {
    color: $color;
  }
}

@each $alignment in (left, right, center, justify) {
  .text-#{$alignment} {
    text-align: $alignment;
  }
}

.text-muted {
  opacity: .6;
}

@for $n from 1 through 3 {
  .h#{$n}, h#{$n} {
    font-size: larger;
  }
}

@for $n from 4 through 6 {
  .h#{$n}, h#{$n} {
    font-size: smaller;

    @if ($n > 4) {
      font-weight: bold;
    }
  }
}
