$anchors: (top, left, bottom, right);

@each $anchor in $anchors {
  .#{$anchor} { #{$anchor}: 0 !important; }
}

.clear-fix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }

  // Microsoft magic happens here...
  zoom: 1;
}

.hidden, [hidden] { display: none !important; }

.anchor {
  position: relative !important;
}
