@import "var/colors";
@import "fn/utils";

$button-padding: 8px 1.25rem 9px 1.25rem !default;

input[type="button"], button, .button, .btn {
  font-family: inherit;
  display: inline-block;
  padding: $button-padding;
  transition: .1s ease-out;
  vertical-align: middle;
  border-radius: 12px;
  text-align: center;
  background: $white;
  cursor: pointer;
  color: $black;
  border: none;

  @each $scheme, $color in $schemes {
    &.#{$scheme} {
      background: $color;
      color: text-color($color);
    }
  }

  &:focus {
    outline: none;
  }
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
  }

  &.block {
    display: block;
  }
}
