@import "var/colors";
@import "var/transitions";

$input-range-track-size: 3px !default;
$input-range-thumb-size: 15px !default;

$input-range-track-color: lighten($black, 75%) !default;
$input-range-thumb-color: lighten($black, 25%) !default;

%range-track {
  border: none;
  height: $input-range-track-size;
  border-radius: $input-range-track-size;
  background: $input-range-track-color;
  width: 100%;
}

%range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;

  transition: .4s $ease-out-expo;
  height: $input-range-thumb-size;
  width: $input-range-thumb-size;
  background: $input-range-thumb-color;
  border: 3px solid $white;
  margin-top: -($input-range-thumb-size / 3);
  border-radius: 50%;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

input[type="range"], .input-range {
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @extend %range-track;
  }
  &::-webkit-slider-thumb {
    @extend %range-thumb;
  }
}
