<nav>
  <ng-container *ngFor="let item of items">
    <ng-container [(ngSwitch)]="item.type">
      <div class="nav-group" *ngSwitchCase="'group'">
        <div class="nav-group-heading">{{ item.label | l10n }}</div>

        <a class="link-item" *ngFor="let childItem of item.links"
          [routerLink]="childItem.link_url"
          [routerLinkActive]="[ 'active' ]">
          <span class="item-icon {{ iconBaseClass }} {{ childItem.icon_class }}"></span>
          <span class="item-label">{{ childItem.label | l10n }}</span>
        </a>
      </div>

      <a class="link-item" *ngSwitchDefault [routerLink]="item.link_url">
        <span class="item-icon {{ iconBaseClass }} {{ item.icon_class }}"></span>
        <span class="item-label">{{ item.label | l10n }}</span>
      </a>
    </ng-container>
  </ng-container>
</nav>
