@import "var/transitions";
@import "var/spacing";
@import "var/colors";

@import "input/group";

nav {
  display: table;
  padding: $space-medium 0;
  width: 100%;

  .nav-group:hover {
    .link-item {
      opacity: .25;
    }
  }
}

.nav-group {
  margin-bottom: $space-small;
  display: block;

  .nav-group-heading {
    padding: 10px $space-medium;
    font-weight: 600;
    font-size: .8rem;
    opacity: .5;
  }
}

.link-item {
  transition: .3s $ease-out-expo;
  padding: 10px $space-medium;
  text-decoration: none;
  font-size: .9rem;
  display: block;
  color: inherit;

  &:active {
    .item-label, .item-icon {
      transform: translate(0, 1px);
    }
  }
  &:hover {
    background: rgba(#888888, .1);
    // To prevent the outer nav:hover opacity decrease...
    opacity: 1 !important;

    .item-label {
      color: $color-secondary;
    }
  }

  .item-label, > * {
    display: table-cell;
    vertical-align: middle;
    transition: inherit;
  }

  .item-icon {
    font-size: 1.2rem;
    min-width: 40px;
  }

  .item-label {
    text-align: left;
  }
}
